// Variables
$nav_links_gray: #151515;
$nav_links_hover: #FF6392;



.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7%;
    // border: 1px solid black;
}


.navbar_logo {
    width: 35px;
    height: 35px;
}

.navbar_links {
    // border: 1px solid black;

    .navbar_link:link,
    .navbar_link:visited {
        margin-left: 30px;
        text-decoration: none;
        font-family: 'Sen', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: $nav_links_gray;
        cursor: pointer;
    }

    .navbar_link:hover,
    .navbar_link:active {
        color: $nav_links_hover;
        cursor: pointer;
    }
}

// Menu
.menu_container input {
    display: none;
}

.menu {
    font-size: 19px;
    color: $nav_links_hover;
    transform: rotate(180deg);
    transition: .3s linear;
    display: none;
    position: relative;
}


.menu_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    position: absolute;
    right: 0;
    // top: 60px;
    // z-index: 100;
    top: -150px;
    z-index: -10;
    opacity: 0;
    padding: 20px 35px;
    border-radius: 2px;
    transition: .3s ease-in-out;

    .menu_link:link,
    .menu_link:visited {
        margin-bottom: 20px;
        text-decoration: none;
        font-family: 'Sen', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
        color: $nav_links_gray;
        cursor: pointer;
    }

    .menu_link:hover,
    .menu_link:active {
        color: $nav_links_hover;
        cursor: pointer;
    }
}


.menu_container input[type=checkbox]:checked+label>.menu {
    transform: rotate(0deg);
}

.menu_container input[type=checkbox]:checked~.menu_links {
    top: 60px;
    z-index: 100;
    opacity: 1;
}





// Media Queries
@media screen and (width <=680px) {
    .navbar {
        width: 100%;
    }

    .navbar_links {
        display: none;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

}

@media screen and (width >=681px) {
    .menu_container {
        display: none;
    }
}