.project_container {
    font-family: 'Sen', sans-serif;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    padding: 40px 150px;

    h2 {
        font-size: 2.3rem;
        margin-bottom: 25px;
    }
}